# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
readit-project-c2f5d3e3/readit_README.md
readit-project-c2f5d3e3/Readit (Desktop)/index.html
readit-project-c2f5d3e3/Readit (Desktop)/assets/Combined Shape.svg
readit-project-c2f5d3e3/Readit (Desktop)/assets/down-arrow copy.svg
readit-project-c2f5d3e3/Readit (Desktop)/assets/down-arrow.svg
readit-project-c2f5d3e3/Readit (Desktop)/assets/magnifying-glass.svg
readit-project-c2f5d3e3/Readit (Desktop)/assets/Triangle.svg
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-desktop-card-drop-down.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-desktop-card.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-desktop-classic.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-desktop-compact.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-post.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-search-no-input.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-search-with-input.html
readit-project-c2f5d3e3/Readit (Desktop)/links/page-1-sub-group.html
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-desktop-card-drop-down.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-desktop-card.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-desktop-classic.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-desktop-compact.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-post.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-search-no-input.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-search-with-input.png
readit-project-c2f5d3e3/Readit (Desktop)/preview/page-1-sub-group.png
readit-project-c2f5d3e3/Reddit (Mobile)/index.html
readit-project-c2f5d3e3/Reddit (Mobile)/assets/Combined Shape.svg
readit-project-c2f5d3e3/Reddit (Mobile)/assets/down-arrow copy.svg
readit-project-c2f5d3e3/Reddit (Mobile)/assets/down-arrow.svg
readit-project-c2f5d3e3/Reddit (Mobile)/assets/Group 2.svg
readit-project-c2f5d3e3/Reddit (Mobile)/assets/magnifying-glass.svg
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-home-card-sort-drop-down.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-home-card-view-drop-down.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-home-card.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-home-classic.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-post.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-search-no-input.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-search-with-input.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-sub-group-drop-down.html
readit-project-c2f5d3e3/Reddit (Mobile)/links/page-1-sub-group.html
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-home-card-sort-drop-down.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-home-card-view-drop-down.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-home-card.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-home-classic.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-post.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-search-no-input.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-search-with-input.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-sub-group-drop-down.png
readit-project-c2f5d3e3/Reddit (Mobile)/preview/page-1-sub-group.png
