:root {
  --primary-color: #f06c00;
  --background: #f9f9f9;
  --border-color: #dcdcdc;
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #bcbcbc;
  --font-regular: 400;
  --font-light: 300;
  --font-semi: 600;
  --font-bold: 700;
}
